<div class="mt-4 container">
  <h1 class="display-4 text-center">Welcome to Admin Dashboard</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Current Total Products</h4>
          <p class="card-text text-center"><%= @products_count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Current Categories</h4>
          <p class="card-text text-center"><%= @categories_count %></p>
        </div>
      </div>
    </div>
  </div>
</div>
